* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the body height to 100% of the viewport height */
    background-color:#2f3439;
}

.container {
    background-color: #000000;
    /* border: red solid 2px; */
    border-radius: 5%;
    height: 620px;
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 0px;
}

.screen{
    /* margin: 5px; */
    height: 15%;
    width: 435px;
    /* border: red solid 2px; */
    border-radius: 25px;
}

.inputs{
    /* border: solid 2px red; */
    height: 85%;
    margin-top: 5px;
    width: 435px;
    border-radius: 25px;
    margin-bottom: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.row input {
    width: 25%;
    font-size: 2.5rem;
    background-color: #45494d;
    color: #4ECCA3;
    border: none;
    flex-grow: 1;
    border-radius: 40px;
    padding: 15px;
}

input:hover{
    background-color: rgb(64, 78, 91);
    
}

.row {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.screen {
    height: 15%;
    width: 435px;
    /* border: red solid 2px; */
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Disable vertical scrolling */
    background-color: #232931;
    color: #4ECCA3;
    font-size: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

